<!DOCTYPE html>
<head>
	<title>Ruby</title>
</head>
<body>
	<h1>Onestop Learn</h1>
	<h2>Ruby</h2>
	<h3>Video Tutorial</h3>
	<ul>
	<li><a id = "link1" href = "https://www.youtube.com/watch?v=Dji9ALCgfpM">Link1</a></li>
	<li><a id = "link2" href = "https://www.youtube.com/watch?v=8I539U5lXWY&list=PLMK2xMz5H5Zv8eC8b4K6tMaE1-Z9FgSOp">Link2</a></li>
	<li><a id = "link3" href = "https://www.youtube.com/watch?v=SHzeVBrW_rA&list=PLlxmoA0rQ-Lx45j3D6da7-Iqvo5wtjKBm">Link3</a></li>
	</ul>
	<h3>Official Documentation</h3>
	<a id = "doc" href = "http://ruby-doc.org/">Documentation</a>
	<div class = "Back">
	<%= link_to 'Back', languages_path %>
	</div>
</body>