<!DOCTYPE html>
<head>
	<title>Python</title>
</head>
<body>
	<h1>Onestop Learn</h1>
	<h2>Python</h2>
	<h3>Video Tutorial</h3>
	<ul>
	<li><a id = "link1" href = "https://www.youtube.com/watch?v=N4mEzFDjqtA">Link1</a></li>
	<li><a id = "link2" href = "https://www.youtube.com/watch?v=cpPG0bKHYKc">Link2</a></li>
	<li><a id = "link3" href = "https://www.youtube.com/watch?v=4Mf0h3HphEA&list=PLEA1FEF17E1E5C0DA">Link3</a></li>
	</ul>
	<h3>Official Documentation</h3>
	<a id = "doc" href = "https://docs.python.org/3/">Documentation</a>

	<div class = "Back">
	<%= link_to 'Back', languages_path %>
	</div>
</body>