  
<h1>About OneStop Learning</h1>
<p>Some good things about the creators of OneStop Learning.</p>

<%= form_tag :controller => "feedbacks", :action => "create", :method => 'post' do %>
  <div><h3>Feedback</h3></div>
  <span>
  <%= text_area_tag('comment',nil, placeholder: 'Please enter your feedback...', cols: 75, rows: 10 )%>
  </span>
  <br>
  <div>
  <%= submit_tag("Submit", :class => "btn btn-primary") %>
  </div>
<% end %>
        
	