<!DOCTYPE html>
<head>
	<title>Java</title>
</head>
<body>
	<h1>Onestop Learn</h1>
	<h2>Java</h2>
	<h3>Video Tutorial</h3>
	<ul>
	<li><a id = "link1" href = "https://www.youtube.com/playlist?list=PLS1QulWo1RIbfTjQvTdj8Y6yyq4R7g-Al">Link1</a></li>
	<li><a id = "link2" href = "https://www.youtube.com/watch?v=Cfd9DOnuF9w">Link2</a></li>
	<li><a id = "link3" href = "https://www.youtube.com/watch?v=RGcDksxiyJo">Link3</a></li>
	</ul>
	<h3>Official Documentation</h3>
	<a id = "doc" href = "https://docs.oracle.com/javase/8/">Documentation</a>

	<div class = "Back">
	<%= link_to 'Back', languages_path %>
	</div>
</body>