<!DOCTYPE html>
<head>
	<title>Java</title>
</head>
<body>
	<h1>Onestop Learn</h1>
	<h2>Java</h2>
	<h3>Video Tutorial</h3>
	<iframe width="600" height="400"
		src="https://www.youtube.com/embed/PLS1QulWo1RIbfTjQvTdj8Y6yyq4R7g-Al?controls=1">
	</iframe>
	<iframe width="600" height="400"
		src="https://www.youtube.com/embed/Cfd9DOnuF9w?controls=1">
	</iframe>
	<iframe width="600" height="400"
		src="https://www.youtube.com/embed/RGcDksxiyJo?controls=1">
	</iframe>
	
	<h3>Official Documentation</h3>
	<a id = "doc" href = "https://docs.oracle.com/javase/8/">Documentation</a>

	<div class = "Back">
	<%= link_to 'Back', languages_path %>
	</div>
</body>